<app-navigation title='Gallery'></app-navigation>   
<table class="gallery">
        <h1>My Photo Gallery</h1>

    <tr>
        <td>
           
            <img src="https://scontent.fcgy2-1.fna.fbcdn.net/v/t1.6435-9/56319200_2351677245157280_8741636625055875072_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=174925&_nc_eui2=AeFJyBHSR7Y5paLz1sxe8lvpM4mgFDExEv0ziaAUMTES_VH7Q3Nx9VAvqjWrMfojRj__r3sOqX87l_b4iNCUcCTe&_nc_ohc=NyXb-vS6F5cAX-x584W&_nc_ht=scontent.fcgy2-1.fna&oh=60a1d80300e6b7f8411a141209fc0415&oe=619EFD7E" alt="image9" width="200" height="200">
        </td>
        <td>

            <img src="https://scontent.fcgy2-1.fna.fbcdn.net/v/t1.6435-9/49691949_2284490198542652_2297711261732831232_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=174925&_nc_eui2=AeEBEGmAryRN06_vdaAvJnoIVz64w1eW4K9XPrjDV5bgrzBQiPBVgBf9X7NGgZjkjQxhcEvAKrkIjajAJXvKG7e-&_nc_ohc=2wE60s2egHMAX9d5p3s&tn=S0gN2lSKboWUQjA2&_nc_ht=scontent.fcgy2-1.fna&oh=e4fe6426e7efc58b8142056ae58233df&oe=619F53E1" alt="image7" width="200" height="200">
          
        </td>
        <td> 
            <img src="https://scontent.fcgy2-1.fna.fbcdn.net/v/t1.6435-9/49691949_2284490198542652_2297711261732831232_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=174925&_nc_eui2=AeEBEGmAryRN06_vdaAvJnoIVz64w1eW4K9XPrjDV5bgrzBQiPBVgBf9X7NGgZjkjQxhcEvAKrkIjajAJXvKG7e-&_nc_ohc=2wE60s2egHMAX9d5p3s&tn=S0gN2lSKboWUQjA2&_nc_ht=scontent.fcgy2-1.fna&oh=e4fe6426e7efc58b8142056ae58233df&oe=619F53E1" alt="image7" width="200" height="200">
          
        </td>
    </tr>

    <tr>
        <td>
            
            <img src="https://scontent.fcgy2-1.fna.fbcdn.net/v/t1.6435-9/241551519_3145221095802887_3780255389715722221_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeHvQaQ40SVWni5r9yfv4xy7lPWYjWqZGsaU9ZiNapkaxsNnp_9gn4-MlHTyDcmkLPO2P_DkWvEoRlE__y3fsYXt&_nc_ohc=6yUJcuIJta8AX_iy1JY&_nc_ht=scontent.fcgy2-1.fna&oh=d49adb25d390ebc473c5103638b02450&oe=619ED199" alt= "image11" width="200" height="200">
        </td>
        <td>
          
            <img src="https://scontent.fcgy2-1.fna.fbcdn.net/v/t1.6435-9/84876901_2617692628555739_6351236455792115712_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeGubkTqEkd2LV_FD4NI3p7Pe8VMtLq7MzV7xUy0urszNZoCcOAIyxxuFu4QK35lPsG2TI0vmds4pCYajRvPuZOn&_nc_ohc=TCFvLK5z6aMAX9aJ29u&_nc_ht=scontent.fcgy2-1.fna&oh=1640616db4b84bf2905e39f701088d48&oe=619ED934" alt="image11" width="200" height="200">
            
        </td>
        <td>
           
            <img src="https://scontent.fcgy2-2.fna.fbcdn.net/v/t1.6435-9/37904722_2160559347602405_5181351217640505344_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=174925&_nc_eui2=AeEzZNBex5SXuIY6oVxrLnlHXJIiBp_Tz49ckiIGn9PPjxTi8IWUIi8SdtGvak2_eIThOjgqMqD6w3XjJBjrlauD&_nc_ohc=LaAg6cZuHPgAX8iBY_R&_nc_ht=scontent.fcgy2-2.fna&oh=7c59f86f195af136aefa33fbd0f342fc&oe=61A2561A" alt="image12" width="200" height="200">
            
        </td>
    </tr>
</table>